#
# pip install -r requirements.txt
#

# Pinboard API
pinboard>=2.0

# For email delivery using Gmail API
# https://developers.google.com/gmail/api/quickstart/python#step_1_install_the_google_client_library
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Twitter API: https://github.com/tweepy/tweepy
tweepy

# Twitter Scaper: https://github.com/twintproject/twint
# This includes pandas and numpy which take several minutes to install.
# Needed to manually run:
# $ pip install --upgrade git+https://github.com/twintproject/twint.git@origin/master#egg=twint
# This got tweets working but not favorites.
twint
urllib3<2,>=1.26.2
